<footer class="footerSize fixed-bottom">
    <ul class="nav justify-content-center border-bottom mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/ingredients" class="nav-link px-2 text-muted">Explore</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Products</a></li>
      <li class="nav-item"><a href="/builds" class="nav-link px-2 text-muted">Build</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2021 Pasta-fy, Inc</p>
</footer>
</body>
</html>