<%- include('./partials/header') %>
<br><br><br><br>
HOME PAGE HERE
<br><br>
have some graphics and paragraph about the website
<br>
change login bar to be on body 


<br><br>
<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
    <form action="" method="">
        <input type="text">
        <button type="submit">Enter Pasta</button>
    </form>
  </div>

</div>

<%- include('./partials/footer') %>
