<%- include('./partials/header') %>

<div class="homeLayout">
  <div class="homeMsg">
      <div class="titleCard">
        <h1 class="display-4">Welcome to Pasta-fy!</h1>
        <p>a place to explore the world of pasta</p>
      </div>
      <br>
      <div class="descCard">
        <hr>
        <p>Learn about different components that make a pasta dish here. You can browse ingredient information, build your own pasta, and read/write reviews!</p>
        <hr>
      </div>
      <a href="/ingredients"><button>Explore Pasta</button></a>
  </div>
</div>
    

<%- include('./partials/footer') %>
