<%- include('./partials/header') %>
<br><br>

<main>
  <img src="https://i.imgur.com/edi2eig.jpg" alt="">
</main>
<br>
<div class="homeMsg">
  <h1 class="display-1">Welcome to Pasta-fy!</h1>
  <p>a place to explore more pasta</p>
</div><br>

<div class="homeParagraph">
  <p>Here, you can learn more about different components that make a pasta dish. You can learn about different ingredient history, build your own pasta, and read/write reviews for user submitted recipes!</p>
</div>


<%- include('./partials/footer') %>
