<%- include('./partials/header') %>

<div class="homeLayout d-flex">
  <div class="homeSplash">
        <img src="https://i.imgur.com/edi2eig.jpg" alt="">
  </div>
  <div class="verticalLine"></div>
  <div class="homeMsg">
      <div class="titleCard">
        <h1 class="display-4">Welcome to Pasta-fy!</h1>
        <p>a place to explore more pasta</p>
      </div>
      <br>
      <div class="descCard">
        <hr>
        <p>Learn about different components that make a pasta dish here. You can browse different ingredient information, build your own pasta, and read/write reviews!</p>
        <hr>
      </div>
  </div>
</div>
    

<%- include('./partials/footer') %>
