/* Build Page */
.textBgBuild {
    background-color: rgb(153, 131, 89);
    width: 45vw;
    height: 100px;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
}
.textBgCombine {
    background-color: beige;
    width: 45vw;
    height: 65vh;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
}
#combinePasta, #combineSauce, #combineVege, #combineProtein, #combineName {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
}
#combinePasta {
    background-color:rgb(201, 125, 11);
}
#combineSauce {
    background-color:rgb(223, 35, 35);
}
#combineVege {
    background-color:rgb(11, 155, 54);
}
#combineProtein {
    background-color:rgba(226, 83, 83, 0.938);
}
#combineName {
    background-color:rgba(194, 58, 115, 0.938);
}