/* Build Page */
.textBgBuild {
    background-color: rgb(153, 131, 89);
    width: 45vw;
    height: 100px;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 20px inset;
}
.textBgCombine {
    background-color: beige;
    width: 45vw;
    height: 75vh;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
}
#combinePasta, #combineSauce, #combineVege, #combineProtein, #combineName {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
}
#combinePasta {
    background-color:rgb(201, 125, 11);
}
#combineSauce {
    background-color:rgb(223, 35, 35);
}
#combineVege {
    background-color:rgb(11, 155, 54);
}
#combineProtein {
    background-color:rgba(226, 83, 83, 0.938);
}
#combineName {
    background-color:rgba(194, 58, 115, 0.938);
}
.combine-container {
    position: relative;
    box-shadow: 5px 10px rgba(0,0,0,0.5);
}
.combine-container button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.verticalLine2 {
    background-color: #000;
    height: 100vh;
    margin: 0 auto;
    margin-top: -10px;
    width: 1px;
}

/* COOK button - https://getcssscan.com/css-buttons-examples */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}
.button-82-pushable:hover {
  filter: brightness(110%);
}
.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}