.details_page {
  margin: 0 auto;
  max-width: 90vw;
  padding: 5em 0;
  height: 100%;
  min-height: 100vh;
}
.ingredientDetail .ingredient-history {
  background-color: antiquewhite;
  padding: 10px;
}
.ingredientDetail img {
    height: 30vw;
    width: 30vw;
    border: 10px solid rgb(121, 19, 1);
}
.display-1 {
  color:rgb(206, 206, 183);
  text-shadow: #2e2e2e 1px 1px 0;
}
.meal-info-container {
  background-color: rgb(206, 206, 183);
  border-radius: 5px;
  box-shadow: 5px 10px rgba(0,0,0,0.5);
}
.ingredients-container, .desc-container {
  position: relative;
  overflow-wrap: break-word;
  overflow-y: auto;
  line-height: 2;
  padding: 0px 10px;
}
.desc-container {
  padding-bottom: 20px;
}
.modal-update-desc button {
  background-color: rgb(139, 162, 124);
}
.ingredientsDesc {
  padding: 0 20px;
}
/* Modal button */
#updateDescBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* The Modal (background) */
.modal {
  position: fixed;
  padding-top: 30vh;
  padding-left: 20vw;
  padding-right: 20vw;
  width: 100%;
  max-height: 100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  overflow: auto; 
  z-index: 1;
}
/* Modal Content */
.modal-content {
  padding: 20px;
  width: 100%;
  overflow: auto;
}
.modal-content textarea {
  width: 100%;
}
.modal-content button {
  float: right;
}
/* The Close Button */
.close, #closeAdd, #closeUpdate {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: end;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.noReviews {
  text-align: center;
}

/* Reviews - add Review */
.reviewBox {
  /* width: 70vw; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  color: rgb(0, 0, 0);
}
.reviewBox textarea {
  width: 100%;
  height: 10vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
.reviewBox button {
  margin: 0 auto;
  background-color: rgb(55, 113, 182);
  color: rgb(129, 203, 235);
}
/* show added Reviews */
.reviews-container {
  position: relative;
  background-color: rgb(206, 206, 183);
  box-shadow: 5px 10px rgba(0,0,0,0.5);
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}
.reviews-container img {
  height: 30px;
  margin: 5px;
}
/* Individual reviews */
.reviewFormat {
  display: flex;
}
.reviewBg {
  position: relative;
  overflow-wrap: break-word;
  overflow-y: auto;
  max-height: 150px;
  width: 100%;
  padding-right: 30px;
}
.reviewContentNameDate {
  margin-left: 20px;
}
/* Review stars */
.star-rating {
  margin: 10 0 0px;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 175px;
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

.checked {
  color: orange;
}

/* EDIT REVIEWS */
.starUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-review button {
  background-color: rgb(55, 113, 182);
  color: rgb(129, 203, 235);
}

/* ----------------- MEDIA QUERY ------------------- */
@media only screen and (min-width: 769px) {

  .meal-info-container {
    max-width: 1800px;
    margin: 0 auto;
  }

  /* show added Reviews */
  .reviews-container {
    position: relative;
    background-color: rgb(206, 206, 183);
    box-shadow: 5px 10px rgba(0,0,0,0.5);
    padding: 10px;
    max-width: 900px;
    width: 80vw;
    margin: 0 auto;
  }
  .reviewBox {
    color: rgb(254, 254, 254);
  }
  .reviewBox textarea {
    width: 600px;
    height: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .reviewBox button {
    margin: 0 auto;
    background-color: rgb(55, 113, 182);
    color: rgb(129, 203, 235);
    border: 2px solid rgb(109, 137, 147);
  }
  .reviewBox button:hover {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(75, 147, 235);
  }
}