body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(45deg, rgb(64, 86, 126), rgb(7, 21, 61));
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

a {
  color: #00B7FF;
}

#pastafyLogo img {
  height: 50px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}