body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, rgb(61, 165, 129), rgb(4, 41, 19));
  position: relative;
}
/* MOBILE-FACING CSS */
.navbar {
  padding: 0 5px;
  background-color: rgb(190, 46, 46);
  position: relative;
  border-bottom: 1px solid rgb(136, 2, 2);
}
#pastafyLogo img {
  height: 35px;
  margin-right: 10px;
  margin-top: -10px;
}
.navbar-brand span {
  color: rgb(255, 255, 255);
  font-size: 23px;
}
.navbar-nav {
  text-align: center;
  background-color: rgb(157, 65, 45);
}
.nav-item {
  border: 1px dashed rgb(162, 23, 23);
}
.nav-item a {
  text-decoration: none;
  color: white;
}

/* Home Page */
.homeLayout {
  height: 100vh;
  background: url("https://i.imgur.com/0RVhRmA.jpg");
  background-position: right;
}
.homeMsg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titleCard, .descCard {
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  width: 22em;
}
.titleCard {
  background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgb(182, 167, 119));
  padding: 10px;
  border: 5px dashed rgb(28, 138, 124);
  color:rgb(28, 138, 124);
  text-shadow: 2px 5px rgba(8, 142, 139, 0.1);
}
.descCard {
  background-color: rgba(171, 84, 57, 0.8);
  padding: 10px 20px;
  color: rgb(9, 48, 43);
}
.homeMsg button {
  max-width: 200px;
  padding: 20px 20px;
  font-size: 1.5em;
  border-radius: 10px;
  margin: 20px auto;
  background-color: #37744e;
}
.homeMsg a {
  color: #69d291;
  text-decoration: none;
  margin: 0 auto;
}

/* Explore Page */
#page_content img {
  height: 100px;
  width: 100px;
  border: 5px solid rgb(31, 171, 99);
  border-radius: 50%;
}
.ingredientList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  border-bottom: 1px dashed rgb(100, 179, 96);
}
.ingredientList a {
  font-size: 15px;
  line-height: 1.2;
  padding-bottom: 0.5em;
  text-align: center;
}
.ingredientList p {
  text-align: center;
}
.ingredientList button {
  border: 1px solid rgb(0, 0, 0);
  color: black;
  background: linear-gradient(rgb(179, 179, 131), rgb(61, 152, 87));
}

.enlarge {
  transform: scale(0.75,0.75);
  transition: 2s all ease;
}
.enlarge.active {
  transform: scale(1,1);
}
.meal-header {
  color:rgb(206, 206, 183);
  text-shadow: #2e2e2e 1px 1px 0;
}
.mealList a {
  font-size: 1.5em;
}

/* Ingredients details (show) */
pasta.img, sauce.img, vege.img, protein.img {
  height: 100px;
} 


/* Footer */
footer {
  background-color:rgb(1, 36, 24);
  height: 30px;
  position: relative;
  /* border: 1px solid yellow; */
}
footer p {
  position: absolute;
  margin: 5px auto;
  font-size: 12px;
  left: 50vw;
  transform: translateX(-50%);
}

/* ----------------- WEB BASED MEDIA QUERY ------------------- */
@media only screen and (min-width: 769px) {
  .navbar {
    background: linear-gradient(to right, rgb(191, 72, 72), rgb(96, 25, 11));
  }
  .navbar-nav {
    background-color: transparent;
  }
  #pastafyLogo img {
    height: 40px;
    margin-right: 10px;
    margin-top: -15px;
  }
  .navbar-brand span {
    font-size: 30px;
  }
  .navbar a {
    padding: 0 20px;
    font-size: 20px;
  }
  .nav-item {
    border: none;
  }
  .nav-item a {
    color: #262626;
  }
  .nav-item a:hover {
    color: #e3e3e3;
  }

  .homeLayout {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .titleCard {
    background-color: rgb(213, 214, 157);
    width: 60vw;
  }
  .descCard {
    background-color: rgba(92, 92, 65, 0.9);
    color: white;
    width: 500px;
  }
  .descCard p {
    font-size: 1em;
  }

  #page_content img {
    height: 150px;
    width: 150px;
    border: 10px solid rgb(28, 82, 54);
  }
  .ingredientList a:hover {
    transform: scale(1.2,1.2);
  }
  .ingredientList a,p {
    font-size: 2em;
    color: black;
  }
  .ingredientList button {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 1.5em;
    color: black;
    background: linear-gradient(rgb(179, 179, 131), rgb(61, 152, 87));
  }

}