body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(45deg, rgb(86, 121, 106), rgb(58, 77, 54));
  min-height: 100vh;
  min-width: 98vw;
  position: relative;
  padding-top: 23px;
  padding-bottom: 100px;
}
/* Nav */
.navbar {
  padding: 0 5px;
  background-color: rgb(190, 46, 46);
  position: relative;
}
#pastafyLogo img {
  height: 35px;
  margin-right: 10px;
  margin-top: -10px;
}
.navbar a {
  padding: 0 5px;
  color:rgb(14, 80, 58);
  font-size: 18px;
}
.navbar-brand span {
  color: rgb(255, 255, 255);
  font-size: 23px;
}
.navbarLinks {
  display: flex;
  justify-content: end;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img {
  height: 20px;
}
/* Home Page */
main img {
  max-width: 100vw;
  position: absolute;
  left: -1px;
  z-index:-1;
}
.homeMsg {
  color:rgb(3, 235, 134);
  background-color: rgba(0, 0, 0, 0.8);
  margin: 10px auto 0;
  padding: 10px;
  border-radius: 5px;
}
.homeMsg p {
  display: flex;
  justify-content: end;
}
.homeParagraph {
  color: rgb(5, 233, 134);
  background-color: rgba(3, 1, 1, 0.8);
  padding: 20px;
  width: 50vw;
  float: right;
}

/* Ingredients index */
#page_content img {
  height: 100px;
  width: 100px;
  border: 5px solid rgb(14, 80, 58);
  border-radius: 50%;
}
.ingredientList {
  margin-top: 30px;
  margin-left: 20px;
  width: 100%;
  position: relative;
}
.ingredientList a {
  font-size: 30px;
  line-height: 1;
  width: 160px;
}
.ingredientList button {
  position: absolute;
  right: 0;
}
.mealList {
  font-size: 20px;
}
/* Ingredients details (show) */
pasta.img, sauce.img, vege.img, protein.img {
  height: 100px;
} 
/* Footer */
footer {
  background-color:rgb(14, 80, 58);
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0 5px;
  }
  #pastafyLogo img {
    height: 50px;
    margin-right: 10px;
    margin-top: -15px;
  }
  .navbar a {
    padding: 0 20px;
    font-size: 20px;
  }
  .navbar-brand span {
    font-size: 40px;
  }
  main img {
    max-width: 50vw;
    position: absolute;
    left: -1px;
  }
  .homeMsg {
    margin: 20vh auto 0;
    padding: 10px;
  }
  .homeMsg p {
    display: flex;
    justify-content: end;
  }
  .homeParagraph {
    padding: 20px;
    width: 50vw;
    float: right;
  }
  /* Ingredients index */
  #page_content img {
    height: 100px;
    width: 100px;
  }
  .ingredientList {
    margin-top: 30px;
    margin-left: 20px;
    width: 100%;
    position: relative;
  }
  .ingredientList a {
    font-size: 30px;
    line-height: 1;
    width: 160px;
  }
  .ingredientList button {
    position: absolute;
    right: 0;
  }
  .mealList {
    font-size: 20px;
  }
  /* Ingredients details (show) */
  pasta.img, sauce.img, vege.img, protein.img {
    height: 100px;
  } 
  /* Footer */
  footer {
    
  }
}