body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(rgb(60, 83, 60), rgb(29, 94, 85));
  min-height: 100vh;
  min-width: 98vw;
  position: relative;
  padding-top: 23px;
  padding-bottom: 100px;
}
/* Nav */
.navbar {
  padding: 0 5px;
  background-color: rgb(190, 46, 46);
  position: relative;
}
#pastafyLogo img {
  height: 35px;
  margin-right: 10px;
  margin-top: -10px;
}
.navbar a {
  padding: 0 5px;
  color:rgb(14, 80, 58);
  font-size: 18px;
}
.navbar-brand span {
  color: rgb(255, 255, 255);
  font-size: 23px;
}
.navbarLinks {
  display: flex;
  justify-content: end;
  align-items: center;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
/* Home Page */
.homeLayout {
  margin-top: 10px;
  height: 100vh;
  width: 100%;
}
.homeSplash img {
  max-width: 100vw;
  position: absolute;
  left: -1px;
  z-index:-1;
}
.homeMsg {
  width: 100%;
}
.titleCard {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 10px solid black;
  width: 300px;
  margin-left: 8%;
}
.descCard {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  margin: 0 auto;
  border: 8px solid black;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  margin-left: 8%;
}

/* Ingredients index */
#page_content img {
  height: 100px;
  width: 100px;
  border: 5px solid rgb(14, 80, 58);
  border-radius: 50%;
  margin-left: -15px;
}
.ingredientList {
  margin-top: 30px;
  margin-left: 10px;
  width: 100%;
  position: relative;
}
.ingredientList a {
  font-size: 15px;
  line-height: 1;
  width: 80px;
}
.ingredientList button {
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  right: 0;
}
.mealList {
  font-size: 20px;
}
/* Ingredients details (show) */
pasta.img, sauce.img, vege.img, protein.img {
  height: 100px;
} 
/* Footer */
footer {
  background-color:rgb(14, 80, 58);
  height: 30px;
  position: relative;
}
footer p {
  position: absolute;
  margin: 5px auto;
  font-size: 12px;
  left: 50vw;
  transform: translateX(-50%);
}
/* ----------------- MEDIA QUERY ------------------- */
@media only screen and (min-width: 769px) {
  body {
    padding-top: 53px;
    padding-bottom: 50px;
  }
  /* Header */
  .navbar {
    padding: 0 5px;
  }
  #pastafyLogo img {
    height: 50px;
    margin-right: 10px;
    margin-top: -15px;
  }
  .navbar a {
    padding: 0 20px;
    font-size: 20px;
  }
  .navbar-brand span {
    font-size: 40px;
  }
  /* Home Page */
  .homeLayout {
    display: flex;
    height: 100vh;
  }
  .homeSplash {
    width: 50vw;
    max-height: 100vh;
    overflow: hidden;
    /* border: 1px solid blue; */
    margin-left: -15px;
    margin-top: -15px;
  }
  .homeSplash img {
    position: relative; 
    z-index: -1;
  }
  .homeMsg {
    position: absolute;
    top: 80px;
    text-align: center;
  }
  .titleCard {
    background-color: rgba(255, 255, 255, 1);
    width: 60vw;
    margin-top: 10vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .descCard {
    background-color: rgba(255, 255, 255, 1);
    width: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .verticalLine {
    background-color: #000;
    height: 100vh;
    margin: 0 auto;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
  }
  /* Ingredients index */
  .ingredientList {
    margin-top: 30px;
    margin-left: 20px;
    overflow: hidden; 
    position: relative;
  }
  .ingredientList a {
    font-size: 30px;
    line-height: 1;
    width: 60vw;
  }
  .ingredientList p {
    font-size: 30px;
    line-height: 1;
    width: 60vw;
  }
  .ingredientList button {
    position: absolute;
    right: 0;
  }
  .mealList {
    font-size: 20px;
  }
  .mealList ul {
    padding: 0;
    margin-left: 30px;
    display: list-item;
    list-style-type: square;
  }
  /* Ingredients details (show) */
  pasta.img, sauce.img, vege.img, protein.img {
    height: 100px;
  } 
  /* Footer */
  footer {
    height: 30px;
  }
  footer p {
    margin: 0 auto;
    font-size: 20px;
  }
}