body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(45deg, rgb(86, 121, 106), rgb(58, 77, 54));
  min-height: 100vh;
  min-width: 98vw;
  position: relative;
  padding-bottom: 100px;
}
/* Nav */
.navbar {
  padding: 0 5px;
  background-color: rgb(190, 46, 46);
  position: relative;
}
#pastafyLogo img {
  height: 50px;
  margin-right: 10px;
  margin-top: -15px;
}
.navbar a {
  padding: 0 20px;
  color:rgb(14, 80, 58);
  font-size: 20px;
}
.navbar-brand span {
  color: rgb(255, 255, 255);
  font-size: 40px;
}
.navbarLinks {
  display: flex;
  justify-content: end;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img {
  height: 20px;
}
/* Home Page */
main img {
  max-width: 100vw;
  position: absolute;
  left: -1px;
  z-index:-1;
}
.homeMsg {
  color:rgb(3, 235, 134);
  background-color: rgba(0, 0, 0, 0.8);
  margin: 20vh auto 0;
  padding: 10px;
  /* border-radius: 5px; */
}
.homeMsg p {
  display: flex;
  justify-content: end;
}
.homeParagraph {
  color: rgb(5, 233, 134);
  background-color: rgba(3, 1, 1, 0.8);
  padding: 20px;
  width: 50vw;
  float: right;
}
/* Ingredients index */
#page_content img {
  height: 100px;
  width: 100px;
  border: 5px solid rgb(14, 80, 58);
  border-radius: 50%;
}
.ingredientList {
  margin-top: 30px;
  margin-left: 20px;
  width: 100%;
  position: relative;
}
.ingredientList a {
  font-size: 30px;
  line-height: 1;
  width: 160px;
}
.ingredientList button {
  position: absolute;
  right: 0;
}
.mealList {
  font-size: 20px;
}
/* Ingredients details (show) */
pasta.img, sauce.img, vege.img, protein.img {
  height: 100px;
} 

/* Reviews - add Review*/
.reviewBox {
  border: 1px dotted black;
  background-color: rgb(14, 85, 61);
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px 10px 30px 10px;
  position: relative;
  color: rgb(0, 0, 0);
}
.reviewBox textarea {
  width: 50vw;
  height: 10vw;
}
.reviewBox button {
  float: right;
}
/* added Reviews section */
.reviews-container {
  position: relative;
}
.reviews-container img {
  border-radius: 50px;
  height: 30px;
  position: absolute;
  left: 0;
}
/* Individual reviews */
.reviewBg {
  margin: 0 5%;
  padding: 0 0 0 20px;
  position: relative;
  overflow-wrap: break-word;
  overflow-y: auto;
  max-height: 150px;
  /* border: 1px solid blue; */
}
/* Review stars */
.star-rating {
  margin: 25px 0 0px;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 175px;
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

.checked {
  color: orange;
}
.testing {
  border: 1px solid red;
}

/* Footer */
footer {
  background-color:rgb(14, 80, 58);
}