body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(45deg, rgb(86, 121, 106), rgb(58, 77, 54));
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

a {
  color: #00B7FF;
}

#pastafyLogo img {
  height: 50px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}


/* .buildPage {
  display: flex;
  justify-content: center;
} */

/* #storeSpace, #buildSpace {
  background-color: rgb(228, 235, 219);
  width: 250px;
  height: 50vh;
  padding: 10px;
  overflow: auto;
  border-radius: 5px;
} */

.textBgBuild {
  background-color: azure;
  width: 40vw;
  height: 100px;
  overflow: auto;
}
.textBgCombine {
  background-color: beige;
  width: 40vw;
  height: 400px;
}

.deleteBtn {


}
.deleteBtn 




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}