#main_content {
    margin: 30px auto 0;
    max-width: 90vw;
}
#main_content li {
    display:inline;
    list-style-type:none;
    padding-top: 12px;             
    padding-bottom: 12px;
    padding-right: 2vw;             /* <--- was 5vw adjust size of tab */
    padding-left: 2vw;
    border-radius:5px 5px 0px 0px;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
}
#main_content li.notselected {
    background-color:#692d0a;
    color:#020000;	
}
#main_content li.selected {
    background-color:#974322;
    color:#d6933b;	
}
#main_content .hidden_desc {
    display: none;
    visibility: hidden;
}
#main_content #page_content {
    background-color:#974322;
    padding: 30px;              
    margin-top: 9px;
    border-radius:0px 5px 5px 5px;
    box-shadow: 5px 10px rgba(0,0,0,0.5);
    line-height: 1.6em;
    word-spacing:4px;
    height: 70vh;
    overflow: auto;
}

#main_content a {
    color: black;
}

/* ----------------- MEDIA QUERY ------------------- */
@media only screen and (min-width: 769px) {
    #main_content {
        margin: 30px auto 0;
        max-width: 900px;
    }
    #main_content li {        
        padding-bottom: 14px;
        padding-right: 25x;            
        padding-left: 25px;
        font-size: 25px;
    }
}